## Populating INSTANCE_NAME and INSTANCE_ZONE:
# to populate these variable use the command:
# [source,shell]
# ----
# $ gcloud compute instance list
# NAME                ZONE                    MACHINE_TYPE  PREEMPTIBLE  INTERNAL_IP  EXTERNAL_IP    STATUS
# ${INSTANCE_NAME}    ${INSTANCE_ZONE}        XXX                        XXX                         TERMINATED
# ${INSTANCE_NAME}    ${INSTANCE_ZONE}        XXX                        XXX          XXX            RUNNING
# ----

export INSTANCE_NAME= # the name of your instance
export INSTANCE_ZONE= # the region the instance is at
